{% extends 'registration/password_reset.html' %}
{% load static %}
{% block reset %}
<form class="form-signin" method="post">
  {% csrf_token %}
    {% if validlink %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
</form>
{% endblock %}